<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RevenueCatAPIKey</key>
	<string>$(WORKSHOP_REVENUECAT_KEY)</string>
	<key>RevenueCatOfferingIdentifier</key>
	<string>$(REVENUECAT_OFFERING_ID)</string>
	<key>RevenueCatPlusEntitlementIdentifier</key>
	<string>$(REVENUECAT_PLUS_ENTITLEMENT_ID)</string>
	<key>RevenueCatPremiumThemesEntitlementIdentifier</key>
	<string>$(REVENUECAT_PREMIUM_THEMES_ENTITLEMENT_ID)</string>
	<key>GADApplicationIdentifier</key>
	<string>$(ADMOB_APP_ID)</string>
	<key>AdMobInterstitialAdUnitIdentifier</key>
	<string>$(ADMOB_INTERSTITIAL_AD_UNIT_ID)</string>
	<key>AdMobBannerAdUnitIdentifier</key>
	<string>$(ADMOB_BANNER_AD_UNIT_ID)</string>
	<key>AdMobInterstitialPlacement</key>
	<string>$(ADMOB_INTERSTITIAL_PLACEMENT)</string>
	<key>AdMobBannerPlacement</key>
	<string>$(ADMOB_BANNER_PLACEMENT)</string>
	<key>AdMobTestDeviceIdentifiers</key>
	<string>$(ADMOB_TEST_DEVICE_IDENTIFIERS)</string>
	<key>UIAppFonts</key>
	<array>
		<string>SpecialElite-Regular.ttf</string>
	</array>
</dict>
</plist>
