<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>RevenueCatAPIKey</key>
	<string>$(WORKSHOP_REVENUECAT_KEY)</string>
	<key>RevenueCatSpoonCurrencyCode</key>
	<string>$(SPOON_CURRENCY_CODE)</string>
	<key>RevenueCatSpoonsOfferingIdentifier</key>
	<string>$(REVENUECAT_SPOONS_OFFERING_ID)</string>
	<key>SpoonImportCost</key>
	<string>$(SPOON_IMPORT_COST)</string>
	<key>SpoonServiceURL</key>
	<string>http://127.0.0.1:8787</string>
	<key>GADApplicationIdentifier</key>
	<string>$(ADMOB_APP_ID)</string>
	<key>AdMobDailyRewardedAdUnitIdentifier</key>
	<string>$(ADMOB_DAILY_REWARDED_AD_UNIT_ID)</string>
	<key>AdMobImportRescueRewardedAdUnitIdentifier</key>
	<string>$(ADMOB_IMPORT_RESCUE_REWARDED_AD_UNIT_ID)</string>
	<key>AdMobDailyRewardedPlacement</key>
	<string>$(ADMOB_DAILY_REWARDED_PLACEMENT)</string>
	<key>AdMobImportRescueRewardedPlacement</key>
	<string>$(ADMOB_IMPORT_RESCUE_REWARDED_PLACEMENT)</string>
	<key>AdMobTestDeviceIdentifiers</key>
	<string>$(ADMOB_TEST_DEVICE_IDENTIFIERS)</string>
	<key>SpoonDailyRewardAmount</key>
	<string>$(SPOON_DAILY_REWARD_AMOUNT)</string>
	<key>SpoonImportRescueRewardAmount</key>
	<string>$(SPOON_IMPORT_RESCUE_REWARD_AMOUNT)</string>
	<key>UIAppFonts</key>
	<array>
		<string>SpecialElite-Regular.ttf</string>
	</array>
</dict>
</plist>
